@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  box-sizing: border-box;
  /* background-color: black; */
  color: white;
}

body {
  font-family: "Dancing Script", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.one {
  background-image: linear-gradient(135deg, silver, black);
}

.two {
  background-image: linear-gradient(135deg, orange, red);
}

.four {
  background-image: linear-gradient(135deg, skyblue, royalblue);
}

.three {
  background-image: linear-gradient(135deg, violet, indigo);
}

.five {
  background-image: linear-gradient(135deg, yellow, green);
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  height: 80vh;
  width: 10vw;
  border-radius: 10px;
  margin: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1;
  transition: flex 0.7s ease-in;
}

h2 {
  text-align: center;
  font-size: 28px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 0 0 30%;
  box-shadow: 12px 9px 24px 3px #000;
}

.panel.active h2 {
  opacity: 1;
  transition: opacity 0.7s ease-in 0.2s;
}

/* Arrange panels vertically */
@media (max-width: 680px) {
  .container {
    height: 90vh;
    flex-direction: column;
  }
  .panel {
    width: 80vw;
    height: 10vh;
  }
}
